
*{
    background-color: #911108;
    
}
.container {
    
    margin-left: 150px;
    margin-right: 150px;
    height: 100vh;
    margin-top: 0px; 
    display: grid;
    grid-template-rows: 1fr 0.3fr 1.5fr 3fr;
    font-size: 20px;
    
       
}

.container1{
    grid-row: 1;
    display: grid;
    grid-template-columns: .5fr 1fr 2fr;
    color: aliceblue;
}

.pic {
    width: 240px;
    height: 150px;
    margin: 10px;
    grid-column: 1;
}
.name{
    font-family:serif;
    text-align: center;
    grid-column: 2;
    margin-left: 0px;
    font-size: 18px;

}
.form{
    grid-column: 3;
    display: grid;
    grid-template-columns: 2fr,1fr;
    margin-top: 30px;
    margin-left: -600px;

    
}
.form1{
   
   background-color: white;
   grid-column: 1;
   width: 100%;
   height: 4vh;
   border-radius: 10px;
   font-size: 10px;
   

}
.icons{
    grid-column: 2;
    height: 4vh;
    display: grid;
    grid-template-columns: 1fr,1fr,1fr,1fr;
    margin-left: 10px;

    
}
.pic1{
    grid-column: 1;
    height: 30px;

}
.pic2{
    grid-column: 2;
    height: 30px;
    margin-left: -40px;

    

}
.pic3{
    grid-column: 3;
    height: 30px;
    margin-left: -40px;

    

}
.pic4{
    grid-column: 4;
    height: 30px;
    margin-left: -40px;
    margin-right: 50px;
    

}

.pic5{
    grid-row: 3;
    width: 100%;
}
.navbar {
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    color: white;
    background-color: rgb(43, 43, 39);
    
    
}
.navbar a:hover {
    color: rgb(25, 228, 25);
    background-color: white;
    
    
  }
  .link1{
    
       
    color: aliceblue;
    background-color:  rgb(247, 128, 128);
    text-decoration: none;
    grid-column: 1;

    padding-left: 25px;
    padding-top: 10px;

  }

.link2{
    
    color: aliceblue;
    grid-column: 2;
    background-color:  rgb(43, 43, 39);
    text-decoration: none;
    margin-left: -80px;
    padding-left: 25px;
    padding-top: 10px;
}
.link3{
    
    color: aliceblue;
    grid-column: 3;
    background-color:  rgb(43, 43, 39);
    text-decoration: none;
    margin-left: -150px;
    padding-left: 25px;
    padding-top: 10px;
}.link4{
    
    color: aliceblue;
    grid-column: 4;
    background-color:  rgb(43, 43, 39);
    text-decoration: none;
    margin-left: -200px;
    padding-left: 25px;
    padding-top: 10px;
}.link5{
    
    color: aliceblue;
    grid-column: 5;
    background-color:  rgb(43, 43, 39);
    text-decoration: none;
    
    margin-left: -250px;
    margin-right: 300px;
    padding-left: 25px;
    padding-top: 10px;
}.link6{
    
    color: aliceblue;
    grid-column: 6;
    background-color:  rgb(43, 43, 39);
    text-decoration: none;
    
    margin-left: -300px;
    margin-right: 300px;
    padding-left: 25px;
    padding-top: 10px;
}
.link7{
    grid-column: 7;
    

    background-color:  rgb(43, 43, 39);

}
.img{
    grid-row: 3;
    width: 100%;
    height: 50vh;
}




.img{
    grid-row: 3;
    width: 100%;
    height: 50vh;
}

.middle{
    grid-row: 4;
    display: grid;
    grid-template-columns: 1fr,1fr;
    grid-template-rows: 1fr,2fr;
    background-color: white;
}
.head1{
    
    grid-row: 1;
    grid-column: 1;
    
    margin-left: 10px;
    color: #911108;
    background-color: white;
}
.head2{
    grid-row: 1;
    grid-column: 2;
    margin-left: 10px;
    color: #911108;
    background-color: white;
}

.img1{
    grid-column: 1;
    grid-row: 2;
    background-color: white;
    
}
.img2{
    grid-column: 2;
    grid-row: 2;
    
    background-color: white;
}
.img1 p{
    background-color: white;
}

.img2 p{
    background-color: white;
}
.college{
    width: 60%;
    height: 30vh;
    float: left;
    border-radius: 5%;
    padding: 3px;
    background-color: white;
    
}
.campus{
    width: 60%;
    height: 30vh;
    float: left;
    border-radius: 5%;
    padding: 3px;

    background-color: white;
    
}


  .footer {
    position: fixed;
    bottom: 0;
    width: 80.2%;
    background-color: rgb(107, 104, 104);
    color: white;
    text-align: center;
    margin-left: 0px;
    }
.footer p{
    background-color: rgb(107, 104, 104);
}
